# [ zrfisaac ]

# [ about ]
# - author : Isaac Caires
# . - email : zrfisaac@gmail.com
# . - site : zrfisaac.github.io

# [ gitignore ]
/www

# : - cordova
.DS_Store
node_modules/
/plugins/
/platforms/

# : - zrfisaac
*.Identifier
*.classified.*
.DS_Store
.git
*.private.*
.temp
.vs
_*
